Flask==2.3.3
flask-restful==0.3.10
flask-cors==4.0.0
flask-jwt-extended==4.5.3
flask-swagger-ui==4.11.1
python-dotenv==1.0.0
pymysql==1.1.0
pymongo==4.6.0
boto3==1.34.0
pycryptodome==3.19.0
pyfcm==2.0.3
mercadopago==2.2.1
jsonschema==4.20.0
simplejson==3.19.2
yt-dlp==2026.2.4
requests==2.31.0
gunicorn==21.2.0
Werkzeug==2.3.7
